*,
html,
body,
main {
	margin: 0;
	padding: 0;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	box-sizing: content-box;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

/* ::-webkit-scrollbar {
	display: none;
} */