<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./lib/jquery.main.js"></script>
    <link rel="stylesheet" href="./lib/element-ui.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./home.css">
    <script src="./lib/vue-2.6.12.js"> </script>
    <script src="./lib/elementui.js"> </script>
    <script src="./lib/dayjs.min.js"></script>
    <title>首页</title>
</head>

<body>
    <div id="appHome">
        <el-container>
            <el-aside width="221px" style="padding: 10px;">
                <el-menu default-active="1" class="el-menu-vertical-demo" background-color="#003371"
                    text-color="#ffffff" active-text-color="#ffd04b" style="height: 97vh; width: 200px;">
                    <el-menu-item index="1" @click="handleClick">
                        <i class="el-icon-setting"></i>
                        <span slot="title">系统首页</span>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-user-solid"></i>
                            <span>用户管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1" @click="handleClick">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="el-icon-s-grid"></i>
                                用户列表
                            </el-menu-item>
                            <el-menu-item index="2-2" @click="handleClick">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="el-icon-menu"></i>
                                修改密码
                            </el-menu-item>
                            <el-menu-item index="2-3" @click="handleClick">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="el-icon-document"></i>
                                用户信息
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-menu-item index="3" @click="handleClick">
                        <i class="el-icon-suitcase-1"></i>
                        <span slot="title">商品管理</span>
                    </el-menu-item>
                    <el-menu-item index="4" @click="handleClick">
                        <i class="el-icon-edit-outline"></i>
                        <span slot="title">数据分析</span>
                    </el-menu-item>
                    <el-menu-item index="5" @click="handleClick">
                        <i class="el-icon-location-outline"></i>
                        <span slot="title">地图位置</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <!-- 系统首页 start -->
                <div v-if="windowIde=='1'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">系统首页</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        <el-carousel trigger="click" height="150px">
                            <el-carousel-item v-for="item in imgUrl" :key="item">
                                <img :src="item" style="width: 100%; height: 100%;" />
                            </el-carousel-item>
                        </el-carousel>
                    </div>
                </div>
                <!-- 系统首页 end -->

                <div v-else-if="windowIde=='2-1'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">用户列表</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        <el-card class="box-card">
                            <el-row>
                                <el-col :span="6">
                                    <el-input placeholder="请输入姓名 0/10" v-model="addGood.addname" size="mini">
                                        <template slot="prepend">名字</template>
                                    </el-input>
                                </el-col>
                                <el-col :span="6" :offset="1">
                                    <el-input placeholder="请输入内容" v-model="addGood.addfort" size="mini">
                                        <template slot="prepend">部门</template>
                                    </el-input>
                                </el-col>
                                <el-col :span="6" :offset="1">
                                    <el-input placeholder="请输入年龄" v-model="addGood.addage" size="mini">
                                        <template slot="prepend">年龄</template>
                                    </el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="4">
                                    <el-button type="primary" size="mini" @click="add()">添加</el-button>
                                </el-col>
                                <el-col :span="4" :offset="1">
                                    <el-button type="primary" size="mini" @click="clearinput()">清空</el-button>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-table :data="list.slice((currentPage-1)*pagesize,currentPage*pagesize)" border
                                    style="width: 100%">
                                    <el-table-column prop="id" label="#" width="60">
                                        <template slot-scope="scope">
                                            {{scope.row.id}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="code" label="姓名" width="100">
                                        <template slot-scope="scope">
                                            {{scope.row.name}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="brand" label="年龄">
                                        <template slot-scope="scope">
                                            {{scope.row.age}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="birth" label="性别" width="180">
                                        <template slot-scope="scope">
                                            {{scope.row.sex}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="purchase" label="部门" width="180">
                                        <template slot-scope="scope">
                                            {{scope.row.fort}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="primary" size="mini"
                                                @click="edit(scope.row,scope.row.id)">修改</el-button>
                                            <el-button type="danger" size="mini"
                                                @click="del(scope.row.id)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-row>
                            <!-- 分页 -->
                            <div class="block">
                                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                    :current-page="currentPage" :page-sizes="pagesizes" :page-size="pagesize"
                                    layout="total, sizes, prev, pager, next, jumper" :total="list.length">
                                </el-pagination>
                            </div>

                            <!-- 修改dialog -->
                            <el-dialog title="修改账号" :visible.sync="dialogFormVisible">
                                <el-form :model="editGood">
                                    <el-form-item label="卡号" :label-width="formLabelWidth">
                                        <el-input v-model="editGood.id" autocomplete="off" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item label="姓名" :label-width="formLabelWidth">
                                        <el-input v-model="editGood.ediname" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="年龄" :label-width="formLabelWidth">
                                        <el-input v-model="editGood.ediage" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别" :label-width="formLabelWidth">
                                        <el-input v-model="editGood.edisex" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="部门" :label-width="formLabelWidth">
                                        <el-input v-model="editGood.edifort" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="editDo()">确 定</el-button>
                                </div>
                            </el-dialog>
                        </el-card>
                    </div>
                </div>

                <!-- 修改密码 start -->
                <div v-else-if="windowIde=='2-2'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">修改密码</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        <div class="setfle">
                            <el-card class="box-card setwid">
                                <el-form :model="xgmmRuleForm" :rules="xgmmRules" ref="xgmmRuleForm" label-width="100px"
                                    class="demo-ruleForm">
                                    <el-form-item label="账号：" prop="name">
                                        <el-input v-model="xgmmRuleForm.name" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item label="原密码：" prop="password">
                                        <el-input v-model="xgmmRuleForm.password" show-password clearable></el-input>
                                    </el-form-item>
                                    <el-form-item label="新密码：" prop="newpassword">
                                        <el-input v-model="xgmmRuleForm.newpassword" show-password clearable></el-input>
                                    </el-form-item>
                                    <el-form-item label="确认密码：" prop="repassword">
                                        <el-input v-model="xgmmRuleForm.repassword" show-password clearable></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('xgmmRuleForm')">更新密码</el-button>
                                        <el-button @click="resetForm('xgmmRuleForm')">重置</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </div>
                    </div>
                </div>
                <!-- 修改密码 end -->

                <!-- 用户信息 start -->
                <div v-else-if="windowIde=='2-3'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">用户信息</a></el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <!-- 用户信息 start -->

                <!-- 商品管理 start -->
                <div v-else-if="windowIde=='3'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">商品管理</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        5
                    </div>
                </div>
                <!-- 商品管理 end -->

                <!-- 数据分析 start -->
                <div v-else-if="windowIde=='4'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">数据分析</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        6
                    </div>
                </div>
                <!-- 数据分析 end -->

                <!-- 地图位置 start -->
                <div v-else-if="windowIde=='5'">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">地图位置</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="margTen">
                        <div class="setfle">
                            <iframe id="baiduMap" src="./bdMap.html" width="100%" height="600vh"
                                scrolling="No"></iframe>
                        </div>
                    </div>
                </div>
                <!-- 地图位置 end -->

                <div v-else>页面错误</div>
            </el-main>
        </el-container>
    </div>
</body>

<script src="./home.js"></script>

</html>